/* line 15, ../sass/contrast.scss */
body {
  background: #060606;
  color: yellow !important;
}

/* line 19, ../sass/contrast.scss */
a, a:link {
  color: cyan !important;
}

/* line 23, ../sass/contrast.scss */
a.active {
  color: white !important;
}

/* line 27, ../sass/contrast.scss */
#section-header {
  background: black;
}

/* line 30, ../sass/contrast.scss */
#zone-menu-wrapper {
  background: #131313;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

/* line 35, ../sass/contrast.scss */
#region-sidebar-first {
  background: #244060;
}

/* line 39, ../sass/contrast.scss */
#block-delta-blocks-logo {
  background: black;
}

/* line 43, ../sass/contrast.scss */
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified.responsive-toggled span.toggler {
  color: white;
  background: #333333;
}

/* line 47, ../sass/contrast.scss */
.responsive-menus.responsified .responsive-menus-simple {
  background: #dbedf4;
}

/* line 52, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-1 > a {
  border-bottom: 1px solid #242424;
}
/* line 54, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-1 > a:hover {
  background: #393939;
  color: #dbedf4;
}
/* line 58, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-1 > a.active {
  background: #1a1a1a;
  color: black;
}
/* line 61, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-1 > a.active:hover {
  background: #262626;
  color: black;
}
/* line 69, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-1:hover > a, .block-main-menu ul li.sf-depth-1.sfHover > a {
  background: #393939;
  color: #dbedf4;
}
/* line 75, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-2 a {
  background: #393939;
  color: white;
  border-bottom: 1px solid #1a1a1a;
}
/* line 79, ../sass/contrast.scss */
.block-main-menu ul li.sf-depth-2 a:hover {
  background: black;
}

/* line 85, ../sass/contrast.scss */
#zone-content {
  background: black;
}

/* line 88, ../sass/contrast.scss */
#section-footer {
  color: yellow;
}

/* line 91, ../sass/contrast.scss */
#block-boxes-copyright {
  border-top: 1px solid white;
}

/* line 95, ../sass/contrast.scss */
#block-boxes-sidebar-menu-desc {
  background: transparent !important;
  border-bottom: 1px solid white;
}

/* line 102, ../sass/contrast.scss */
#block-menu-menu-first-sidebar ul li.leaf a {
  border-bottom: 1px solid #16273b;
}
/* line 104, ../sass/contrast.scss */
#block-menu-menu-first-sidebar ul li.leaf a:hover {
  background: #1d344d url('../images/sidebar-menu-2.png') repeat-y right;
}

/**
 * Tables.
 */
/* line 115, ../sass/contrast.scss */
table {
  border: 1px solid #1a1a1a;
}
/* line 117, ../sass/contrast.scss */
table td, table th {
  color: yellow;
}

/* line 122, ../sass/contrast.scss */
.node-page table {
  border: 1px solid yellow;
}

/* line 127, ../sass/contrast.scss */
tr.even,
tr.odd {
  border-color: #1a1a1a;
  background: #1a1a1a;
}

/* line 131, ../sass/contrast.scss */
tr.odd {
  background: black;
}

/* line 134, ../sass/contrast.scss */
th {
  background: #0d0d0d;
  border-color: #393939;
}
/* line 137, ../sass/contrast.scss */
th.active {
  background: #1a1a1a;
}

/*
tr td:last-child {
  border-right: 1px solid darken($lightGray,10%); 
}*/
/* line 151, ../sass/contrast.scss */
#block-oea-form-oea-scope-filter {
  background: #4d4d4d;
}

/* line 164, ../sass/contrast.scss */
.field-name-field-cstats-indicators td:first-child, .field-name-field-cstats-indicators th:first-child,
.field-name-field-pop-av-age td:first-child,
.field-name-field-pop-av-age th:first-child,
.field-name-field-pop-sex td:first-child,
.field-name-field-pop-sex th:first-child,
.field-name-field-pop-age td:first-child,
.field-name-field-pop-age th:first-child,
.field-name-field-pop-ethnic td:first-child,
.field-name-field-pop-ethnic th:first-child,
.field-name-field-pop-regions td:first-child,
.field-name-field-pop-regions th:first-child,
.field-name-field-popd-dis-type td:first-child,
.field-name-field-popd-dis-type th:first-child,
.field-name-field-popd-socioecon td:first-child,
.field-name-field-popd-socioecon th:first-child {
  background-color: #282828;
}
/* line 170, ../sass/contrast.scss */
.field-name-field-cstats-indicators tr.even td:first-child, .field-name-field-cstats-indicators tr.even th:first-child,
.field-name-field-pop-av-age tr.even td:first-child,
.field-name-field-pop-av-age tr.even th:first-child,
.field-name-field-pop-sex tr.even td:first-child,
.field-name-field-pop-sex tr.even th:first-child,
.field-name-field-pop-age tr.even td:first-child,
.field-name-field-pop-age tr.even th:first-child,
.field-name-field-pop-ethnic tr.even td:first-child,
.field-name-field-pop-ethnic tr.even th:first-child,
.field-name-field-pop-regions tr.even td:first-child,
.field-name-field-pop-regions tr.even th:first-child,
.field-name-field-popd-dis-type tr.even td:first-child,
.field-name-field-popd-dis-type tr.even th:first-child,
.field-name-field-popd-socioecon tr.even td:first-child,
.field-name-field-popd-socioecon tr.even th:first-child {
  background-color: #262626;
}

/* line 183, ../sass/contrast.scss */
.field-name-field-pop-pea > .field-items > .field-item,
.field-name-field-pop-total > .field-items > .field-item,
.field-name-field-pop-growth > .field-items > .field-item,
.field-name-field-popd-prevalence > .field-items > .field-item,
.field-name-field-popd-home-dis > .field-items > .field-item,
.field-name-field-popd-home-dis-func > .field-items > .field-item {
  background: #262626;
}
/* line 186, ../sass/contrast.scss */
.field-name-field-pop-pea td, .field-name-field-pop-pea th,
.field-name-field-pop-total td,
.field-name-field-pop-total th,
.field-name-field-pop-growth td,
.field-name-field-pop-growth th,
.field-name-field-popd-prevalence td,
.field-name-field-popd-prevalence th,
.field-name-field-popd-home-dis td,
.field-name-field-popd-home-dis th,
.field-name-field-popd-home-dis-func td,
.field-name-field-popd-home-dis-func th {
  border-right: 1px solid #262626;
}

/* line 190, ../sass/contrast.scss */
.field-collection-view-final {
  border-bottom: 1px solid #1a1a1a;
}

/* line 194, ../sass/contrast.scss */
.block-boxes-indicators-box a {
  background: #262626;
  color: cyan;
}
/* line 197, ../sass/contrast.scss */
.block-boxes-indicators-box a:hover {
  background: #333333;
}
/* line 200, ../sass/contrast.scss */
.block-boxes-indicators-box a.active {
  background: #595959;
}

/* line 209, ../sass/contrast.scss */
.webform-container-inline {
  border-bottom: 1px solid #262626;
}

/* line 213, ../sass/contrast.scss */
fieldset {
  border: 1px solid #262626;
}

/* line 218, ../sass/contrast.scss */
.view-countries .views-row {
  background: transparent;
  border: 1px solid;
}

/* line 224, ../sass/contrast.scss */
table td.mini a {
  background: #dbedf4;
  color: black;
}

/* line 232, ../sass/contrast.scss */
.node-legal-framework > .field, .node-legal-framework > .field-collection-container {
  background: transparent;
  border: 1px solid;
}

/* line 241, ../sass/contrast.scss */
.node-official-links .field-collection-container .field-items .field-item .field-collection-view {
  background: transparent;
  border: 1px solid;
}

/* line 250, ../sass/contrast.scss */
#control-wrap li a {
  background: #dbedf4;
}
/* line 252, ../sass/contrast.scss */
#control-wrap li a:hover {
  background: white;
}

/* line 260, ../sass/contrast.scss */
#region-sidebar-first .region-inner {
  background: transparent;
  padding-bottom: 0;
}

/* line 270, ../sass/contrast.scss */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  border: 1px solid white;
  background: black;
  border-bottom: 3px solid white;
  color: cyan !important;
}
/* line 275, ../sass/contrast.scss */
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #080f16;
  color: white !important;
}

/* line 283, ../sass/contrast.scss */
#control-wrap li a {
  border: 1px solid white;
  background: black;
  color: cyan !important;
}
/* line 287, ../sass/contrast.scss */
#control-wrap li a:hover {
  background: #080f16;
  color: white !important;
}

/* line 296, ../sass/contrast.scss */
ul.primary li a {
  background-color: black;
}

/* line 299, ../sass/contrast.scss */
ul.primary li a:hover {
  background-color: #222;
}

/* line 302, ../sass/contrast.scss */
ul.primary li.active a {
  background-color: #444;
}

/* line 307, ../sass/contrast.scss */
.year-view div.month-view div.date-nav {
  background-color: #333;
}

/* line 310, ../sass/contrast.scss */
.calendar-calendar th.days {
  background-color: #222;
  color: white;
}

/* line 314, ../sass/contrast.scss */
.calendar-calendar tr {
  background: black;
}

/* line 317, ../sass/contrast.scss */
.calendar-calendar td {
  color: white;
}

/* line 320, ../sass/contrast.scss */
.calendar-calendar table.mini td.empty {
  background: transparent;
}

/* line 325, ../sass/contrast.scss */
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background: #16273b;
  border: 1px solid white;
}

/* line 329, ../sass/contrast.scss */
.calendar-calendar table td.mini a {
  background: black;
  border: 1px solid yellow;
}

/* line 335, ../sass/contrast.scss */
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
  background: #16273b;
  border: 1px solid white;
}

/* line 342, ../sass/contrast.scss */
.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty {
  background: #222;
}

/* line 348, ../sass/contrast.scss */
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: #111;
  color: #ffffff;
  border: 1px solid yellow;
}

/* line 357, ../sass/contrast.scss */
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: #111;
}

/* line 362, ../sass/contrast.scss */
.calendar-calendar .week-view .full div.item-wrapper,
.calendar-calendar .day-view .full div.item-wrapper {
  background-color: #111;
}

/* line 366, ../sass/contrast.scss */
.calendar-calendar div.calendar {
  background-color: #111;
}
