@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic);
/* line 8, ../sass/global.scss */
body {
  font: 16px/1.5 "Open Sans", sans-serif;
  background: #244060;
}

/* line 12, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 18, ../sass/global.scss */
h1 {
  font-size: 2.23em;
}

/* line 19, ../sass/global.scss */
h2 {
  font-size: 1.75em;
}

/* line 20, ../sass/global.scss */
h3 {
  font-size: 1.3em;
}

/* line 21, ../sass/global.scss */
h4 {
  font-size: 1.2em;
}

/* line 22, ../sass/global.scss */
h5 {
  font-size: 1.05em;
}

/* line 23, ../sass/global.scss */
h6 {
  font-size: 1em;
}

/* line 25, ../sass/global.scss */
h2.block-title {
  font-size: 1.1em;
}

/* line 29, ../sass/global.scss */
h2.node-title {
  font-size: 1.75em;
}

/* line 33, ../sass/global.scss */
a, a:link {
  color: #244060;
}

/* line 37, ../sass/global.scss */
ul.primary {
  margin: 0;
  padding: 0.25em 0 0.5em 1em;
}
/* line 40, ../sass/global.scss */
ul.primary li a {
  padding: 0.5em 1em;
}

/* line 45, ../sass/global.scss */
.marker, .form-required {
  font-size: 1.4em;
}

/* line 48, ../sass/global.scss */
#region-content {
  padding-top: 1em;
}

/* line 51, ../sass/global.scss */
#section-header {
  background: white;
}

/* line 54, ../sass/global.scss */
#zone-menu-wrapper {
  margin-top: 0.7em;
  background: #ececec;
}

/* line 58, ../sass/global.scss */
#region-branding {
  margin: 0;
}

/* line 61, ../sass/global.scss */
#region-menu {
  margin: 0;
}

/* line 64, ../sass/global.scss */
#region-sidebar-first {
  background: #dbedf4;
  margin: 0;
}
/* line 67, ../sass/global.scss */
#region-sidebar-first .region-inner {
  background: transparent;
  padding-bottom: 0;
}

/* line 73, ../sass/global.scss */
#block-delta-blocks-logo {
  background: white;
  text-align: center;
}
/* line 76, ../sass/global.scss */
#block-delta-blocks-logo .logo-img {
  float: none;
  margin: 0 auto;
}

/* line 81, ../sass/global.scss */
#block-delta-blocks-site-name {
  margin: 15px 20%;
  text-align: center;
}

/* line 86, ../sass/global.scss */
h1.site-name, h2.site-name {
  font-family: 'Open Sans', serif;
  line-height: 1.1em;
  font-weight: normal;
  margin: 0;
  font-size: 1.6em;
  font-style: italic;
  text-transform: none;
}

/* line 96, ../sass/global.scss */
#block-superfish-2 {
  display: none;
}

/* line 100, ../sass/global.scss */
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified.responsive-toggled span.toggler {
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  padding: 0.4em;
  font-size: 1.5em;
  color: black;
  background: #ececec;
}

/* line 108, ../sass/global.scss */
.responsive-menus.responsified .responsive-menus-simple {
  background: #244060;
}

/* line 111, ../sass/global.scss */
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple, .responsive-menus.responsified.responsive-toggled .responsive-menus-simple ul {
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}

/* line 115, ../sass/global.scss */
.block-main-menu ul li {
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}
/* line 121, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1 > a {
  margin: 0;
  padding: 0.9em 1em;
  text-decoration: none;
  border-bottom: 1px solid #cacaca;
}
/* line 126, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1 > a:hover {
  background: #f2f2f2;
  color: #244060;
}
/* line 130, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1 > a.active {
  background: #4071aa;
  color: white;
}
/* line 133, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1 > a.active:hover {
  background: #4071aa;
  color: white;
}
/* line 141, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1:hover > a, .block-main-menu ul li.sf-depth-1.sfHover > a {
  background: #f2f2f2;
  color: #244060;
}
/* line 145, ../sass/global.scss */
.block-main-menu ul li.sf-depth-1:hover > ul, .block-main-menu ul li.sf-depth-1.sfHover > ul {
  top: 46px;
}
/* line 150, ../sass/global.scss */
.block-main-menu ul li.sf-depth-2 a {
  text-align: left;
  padding: 1.1em 1em;
  text-decoration: none;
  background: #f2f2f2;
  color: black;
  border-bottom: 1px solid #d3d3d3;
}
/* line 157, ../sass/global.scss */
.block-main-menu ul li.sf-depth-2 a:hover {
  background: white;
}

/* line 163, ../sass/global.scss */
#zone-content {
  margin-top: 0;
  margin-bottom: 1em;
  background: white;
  min-height: 40em;
  padding-bottom: 2em;
}

/* line 170, ../sass/global.scss */
#section-footer {
  color: white;
}
/* line 172, ../sass/global.scss */
#section-footer .block-title {
  margin-bottom: 1em;
}

/* line 176, ../sass/global.scss */
#region-footer-first {
  padding-top: 1em;
}

/* line 180, ../sass/global.scss */
#boxes-box-footer_accesibility li {
  display: inline-block;
  margin-right: 1.5em;
}

/* line 185, ../sass/global.scss */
#block-boxes-utp-logo {
  float: right;
  text-align: center;
  width: 100%;
  margin: 3em 0;
}

/* line 191, ../sass/global.scss */
#block-boxes-copyright {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid white;
  font-size: 0.9em;
  text-align: center;
}

/* line 199, ../sass/global.scss */
#block-menu-menu-ambitos {
  padding: 5px 15px;
}

/* line 203, ../sass/global.scss */
#block-boxes-indicators-box span {
  margin-right: 2px;
}
/* line 205, ../sass/global.scss */
#block-boxes-indicators-box span a {
  font-size: 1.15em;
  display: block;
}

/* line 211, ../sass/global.scss */
#block-boxes-sidebar-menu-desc {
  padding: 10px;
  background: #b4d9e8;
}
/* line 214, ../sass/global.scss */
#block-boxes-sidebar-menu-desc .boxes-box-content {
  margin-top: 5px;
}

/* line 219, ../sass/global.scss */
.item-list li {
  list-style: disc;
}

/* line 224, ../sass/global.scss */
#block-menu-menu-first-sidebar ul li.leaf {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 228, ../sass/global.scss */
#block-menu-menu-first-sidebar ul li.leaf a {
  border-bottom: 1px solid #b4d9e8;
  text-decoration: none;
  display: block;
  padding: 15px;
}
/* line 233, ../sass/global.scss */
#block-menu-menu-first-sidebar ul li.leaf a:hover {
  background: #c7e3ee url('../images/sidebar-menu-2.png') repeat-y right;
}

/**
 * Tables.
 */
/* line 244, ../sass/global.scss */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
/* line 249, ../sass/global.scss */
table td, table th {
  vertical-align: top;
  padding: 8px 10px;
  border: 0;
  color: #000;
}

/* line 258, ../sass/global.scss */
tr.even,
tr.odd {
  border-width: 0;
  border-style: solid;
  border-color: #bebfb9;
  background: #f5f5f5;
}

/* line 264, ../sass/global.scss */
tr.odd {
  background: white;
}

/* line 267, ../sass/global.scss */
th {
  text-transform: uppercase;
  background: #ececec;
  font-weight: normal;
  border-width: 0;
  border-style: solid;
  border-color: #d3d3d3;
  padding: 3px 10px;
}
/* line 275, ../sass/global.scss */
th.active {
  background: #f7f7f7;
}
/* line 278, ../sass/global.scss */
th a {
  display: block;
  position: relative;
}
/* line 283, ../sass/global.scss */
th.active a {
  padding: 0 25px 0 0;
  /* LTR */
}
/* line 286, ../sass/global.scss */
th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
  /* LTR */
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
                                   /*tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR 
}*/
/* line 335, ../sass/global.scss */
.view-action-scope {
  width: 100%;
  overflow: scroll;
  /*	tr td.views-field{
  		padding: 0;
  		&.views-field-field-report-type{
  			padding: 8px 10px;
  			width: 10%;
  		}
  		&.views-field-field-report-laws{
  			width: 30%;
  		}
  		&.views-field-field-report-programs{
  			width: 30%;
  		}
  		&.views-field-field-report-practices{
  			width: 30%;
  		}
  
  	}*/
}
/* line 338, ../sass/global.scss */
.view-action-scope caption {
  font-size: 1.55em;
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
}
/* line 361, ../sass/global.scss */
.view-action-scope table.views-table > tbody > tr > th {
  width: 10%;
}
/* line 364, ../sass/global.scss */
.view-action-scope table.views-table > tbody > tr > td {
  width: 30%;
  padding: 0;
}
/* line 368, ../sass/global.scss */
.view-action-scope table table {
  padding: 0;
}

/* line 374, ../sass/global.scss */
#block-oea-form-oea-scope-filter {
  background: #f2f2f2;
}
/* line 376, ../sass/global.scss */
#block-oea-form-oea-scope-filter .block-inner {
  padding: 20px;
}
/* line 380, ../sass/global.scss */
#block-oea-form-oea-scope-filter .form-item,
#block-oea-form-oea-scope-filter .form-submit {
  float: left;
  margin: 0 20px 0 0;
}
/* line 384, ../sass/global.scss */
#block-oea-form-oea-scope-filter .form-submit {
  margin-top: 15px;
}

/* line 396, ../sass/global.scss */
.field-name-field-cstats-indicators,
.field-name-field-pop-av-age,
.field-name-field-pop-sex,
.field-name-field-pop-age,
.field-name-field-pop-ethnic,
.field-name-field-pop-regions,
.field-name-field-popd-dis-type,
.field-name-field-popd-socioecon {
  /*.field_indicator_description{
  }
  tr.even .field_indicator_description{
  }*/
}
/* line 397, ../sass/global.scss */
.field-name-field-cstats-indicators td, .field-name-field-cstats-indicators th,
.field-name-field-pop-av-age td,
.field-name-field-pop-av-age th,
.field-name-field-pop-sex td,
.field-name-field-pop-sex th,
.field-name-field-pop-age td,
.field-name-field-pop-age th,
.field-name-field-pop-ethnic td,
.field-name-field-pop-ethnic th,
.field-name-field-pop-regions td,
.field-name-field-pop-regions th,
.field-name-field-popd-dis-type td,
.field-name-field-popd-dis-type th,
.field-name-field-popd-socioecon td,
.field-name-field-popd-socioecon th {
  width: 18%;
  border-right: 1px solid #ccc;
  text-align: center;
}
/* line 401, ../sass/global.scss */
.field-name-field-cstats-indicators td:first-child, .field-name-field-cstats-indicators th:first-child,
.field-name-field-pop-av-age td:first-child,
.field-name-field-pop-av-age th:first-child,
.field-name-field-pop-sex td:first-child,
.field-name-field-pop-sex th:first-child,
.field-name-field-pop-age td:first-child,
.field-name-field-pop-age th:first-child,
.field-name-field-pop-ethnic td:first-child,
.field-name-field-pop-ethnic th:first-child,
.field-name-field-pop-regions td:first-child,
.field-name-field-pop-regions th:first-child,
.field-name-field-popd-dis-type td:first-child,
.field-name-field-popd-dis-type th:first-child,
.field-name-field-popd-socioecon td:first-child,
.field-name-field-popd-socioecon th:first-child {
  width: 28%;
  background-color: #e3e3e3;
}
/* line 406, ../sass/global.scss */
.field-name-field-cstats-indicators td,
.field-name-field-pop-av-age td,
.field-name-field-pop-sex td,
.field-name-field-pop-age td,
.field-name-field-pop-ethnic td,
.field-name-field-pop-regions td,
.field-name-field-popd-dis-type td,
.field-name-field-popd-socioecon td {
  text-align: right;
}
/* line 411, ../sass/global.scss */
.field-name-field-cstats-indicators tr.even td:first-child, .field-name-field-cstats-indicators tr.even th:first-child,
.field-name-field-pop-av-age tr.even td:first-child,
.field-name-field-pop-av-age tr.even th:first-child,
.field-name-field-pop-sex tr.even td:first-child,
.field-name-field-pop-sex tr.even th:first-child,
.field-name-field-pop-age tr.even td:first-child,
.field-name-field-pop-age tr.even th:first-child,
.field-name-field-pop-ethnic tr.even td:first-child,
.field-name-field-pop-ethnic tr.even th:first-child,
.field-name-field-pop-regions tr.even td:first-child,
.field-name-field-pop-regions tr.even th:first-child,
.field-name-field-popd-dis-type tr.even td:first-child,
.field-name-field-popd-dis-type tr.even th:first-child,
.field-name-field-popd-socioecon tr.even td:first-child,
.field-name-field-popd-socioecon tr.even th:first-child {
  background-color: #ddd;
}

/* line 428, ../sass/global.scss */
.field-name-field-pop-pea > .field-items > .field-item,
.field-name-field-pop-total > .field-items > .field-item,
.field-name-field-pop-growth > .field-items > .field-item,
.field-name-field-popd-prevalence > .field-items > .field-item,
.field-name-field-popd-home-dis > .field-items > .field-item,
.field-name-field-popd-home-dis-func > .field-items > .field-item {
  padding-left: 28%;
  background: #ccc;
}
/* line 432, ../sass/global.scss */
.field-name-field-pop-pea td, .field-name-field-pop-pea th,
.field-name-field-pop-total td,
.field-name-field-pop-total th,
.field-name-field-pop-growth td,
.field-name-field-pop-growth th,
.field-name-field-popd-prevalence td,
.field-name-field-popd-prevalence th,
.field-name-field-popd-home-dis td,
.field-name-field-popd-home-dis th,
.field-name-field-popd-home-dis-func td,
.field-name-field-popd-home-dis-func th {
  width: 18%;
  border-right: 1px solid #ccc;
  text-align: center;
}
/* line 437, ../sass/global.scss */
.field-name-field-pop-pea td,
.field-name-field-pop-total td,
.field-name-field-pop-growth td,
.field-name-field-popd-prevalence td,
.field-name-field-popd-home-dis td,
.field-name-field-popd-home-dis-func td {
  text-align: right;
}

/* line 441, ../sass/global.scss */
.field-collection-view-final {
  border-bottom: 1px solid #bebfb9;
}

/* line 444, ../sass/global.scss */
.field-collection-container {
  border: 0;
  margin: 0;
}

/* line 449, ../sass/global.scss */
.block-boxes-indicators-box {
  margin-bottom: 30px;
}
/* line 451, ../sass/global.scss */
.block-boxes-indicators-box a {
  background: #ddd;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
/* line 456, ../sass/global.scss */
.block-boxes-indicators-box a:hover {
  background: #e6e6e6;
}
/* line 459, ../sass/global.scss */
.block-boxes-indicators-box a.active {
  background: #4071aa;
  color: white;
}

/* line 466, ../sass/global.scss */
.node .field-name-body p {
  text-align: justify;
}

/* line 471, ../sass/global.scss */
.webform-container-inline {
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
/* line 475, ../sass/global.scss */
.webform-container-inline > label {
  width: 30%;
  display: inline-block;
}

/* line 481, ../sass/global.scss */
fieldset {
  padding: 19px;
  border: 1px solid #ddd;
  margin: 15px 0;
}
/* line 485, ../sass/global.scss */
fieldset legend {
  padding: 0 5px;
}

/* line 491, ../sass/global.scss */
.view-countries .views-row {
  padding: 15px;
  background: #eee;
  list-style: none;
  margin: 0 0 20px;
}
/* line 497, ../sass/global.scss */
.view-countries .views-field-field-country-flag img {
  vertical-align: text-top;
}
/* line 500, ../sass/global.scss */
.view-countries .views-field-php {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 506, ../sass/global.scss */
table td.mini a {
  background: #244060;
  font-weight: normal;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

/* line 517, ../sass/global.scss */
.node-legal-framework > .field, .node-legal-framework > .field-collection-container {
  margin-bottom: 1.5em;
  padding: 0.5em;
  background: #F8F8F8;
}

/* line 526, ../sass/global.scss */
.node-official-links .field-collection-container .field-items .field-item {
  margin: 0;
}
/* line 528, ../sass/global.scss */
.node-official-links .field-collection-container .field-items .field-item .field-collection-view {
  padding: 1em;
  margin: 0;
  background: #F5F5F5;
  border-bottom: 0;
  margin-bottom: 1em;
}

/* line 538, ../sass/global.scss */
.zoom-controler {
  text-align: right;
}

/* line 541, ../sass/global.scss */
#control-wrap {
  display: inline-block;
}
/* line 543, ../sass/global.scss */
#control-wrap #controls {
  margin: 0;
}
/* line 546, ../sass/global.scss */
#control-wrap li {
  display: inline-block;
}
/* line 548, ../sass/global.scss */
#control-wrap li a {
  text-decoration: none;
  background: #b4d9e8;
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-left: 0.1em;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1.1;
}
/* line 559, ../sass/global.scss */
#control-wrap li a:hover {
  background: #c7e3ee;
}

/* line 567, ../sass/global.scss */
.field-type-field-collection {
  width: 100%;
  overflow: scroll;
}
