/* line 3, ../sass/sediscap-alpha-default-wide.scss */
.block-main-menu ul li.sf-depth-1 > a {
  padding: 0.9em 0.9em;
  border-right: 1px solid #CACACA;
  border-bottom: 0;
}

/* line 9, ../sass/sediscap-alpha-default-wide.scss */
.block-main-menu ul li {
  width: auto;
}
