/* line 4, ../sass/sediscap-alpha-default-narrow.scss */
.block-main-menu ul li {
  width: 50%;
}

/* line 8, ../sass/sediscap-alpha-default-narrow.scss */
#block-superfish-2 {
  display: block;
}

/* line 12, ../sass/sediscap-alpha-default-narrow.scss */
.responsive-menus-0-0 {
  display: none;
}

/* line 16, ../sass/sediscap-alpha-default-narrow.scss */
#region-branding {
  margin: 15px 0 0;
}

/* line 19, ../sass/sediscap-alpha-default-narrow.scss */
#region-menu {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 23, ../sass/sediscap-alpha-default-narrow.scss */
#region-sidebar-first {
  background: #dbedf4 url('../images/sidebar-menu-2.png') repeat-y right;
}
/* line 25, ../sass/sediscap-alpha-default-narrow.scss */
#region-sidebar-first .region-inner {
  background: url('../images/sidebar-menu-1.png') repeat-x bottom;
  padding-bottom: 60px;
}

/* line 31, ../sass/sediscap-alpha-default-narrow.scss */
.contrast-mode-on #region-sidebar-first {
  background: none;
}
/* line 33, ../sass/sediscap-alpha-default-narrow.scss */
.contrast-mode-on #region-sidebar-first .region-inner {
  background: none;
  padding-bottom: 0;
}

/* line 40, ../sass/sediscap-alpha-default-narrow.scss */
.responsive-layout-narrow #region-sidebar-first {
  width: 135px;
}

/* line 44, ../sass/sediscap-alpha-default-narrow.scss */
#zone-content {
  margin-top: 20px;
}

/* line 48, ../sass/sediscap-alpha-default-narrow.scss */
#block-boxes-sidebar-menu-desc {
  background: #b4d9e8 url("../images/sidebar-menu-2.png") repeat-y right;
}

/* line 53, ../sass/sediscap-alpha-default-narrow.scss */
#block-boxes-copyright .block-inner {
  padding: 0 15em;
}

/* line 58, ../sass/sediscap-alpha-default-narrow.scss */
#block-boxes-utp-logo {
  width: auto;
  margin: 0;
}

/* line 65, ../sass/sediscap-alpha-default-narrow.scss */
.view-action-scope,
.field-type-field-collection {
  overflow: hidden;
}

/* line 69, ../sass/sediscap-alpha-default-narrow.scss */
.responsive-layout-narrow #region-branding {
  text-align: center;
}

/* line 73, ../sass/sediscap-alpha-default-narrow.scss */
.responsive-layout-narrow #region-branding .region-branding-inner > * {
  float: left;
  width: 100%;
  margin: 0.6em 0;
}
/* line 77, ../sass/sediscap-alpha-default-narrow.scss */
.responsive-layout-narrow #region-branding .region-branding-inner > * > * {
  padding: 0 10em;
  text-align: center;
}
