/* line 3, ../sass/sediscap-alpha-default-normal.scss */
.block-main-menu ul li {
  width: 33%;
}

/* line 7, ../sass/sediscap-alpha-default-normal.scss */
#region-sidebar-first {
  margin-right: 10px;
}

/* line 12, ../sass/sediscap-alpha-default-normal.scss */
#block-boxes-indicators-box span a {
  display: inline;
}
