@import 'compass';

$blue:#dbedf4;
$sky:#244060;

$lightGray:#333;
$darkGray:#ECECEC;

$white:#000;
$black:#fff;

$link:#00FFFF;
$text:yellow;

body {
	background:#060606;
	color:$text !important;
}
a,a:link{
	color:$link !important;
}

a.active{
	color:white !important;
}

#section-header{
	background:$white;
}
#zone-menu-wrapper {
	background: #131313;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
#region-sidebar-first{
	background:$sky;
}

#block-delta-blocks-logo{
	background:$white;
}
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified.responsive-toggled span.toggler {
	color: $black;
	background: $lightGray;
}
.responsive-menus.responsified .responsive-menus-simple{
	background:$blue;
}
.block-main-menu ul li{
	&.sf-depth-1{
		> a{
			border-bottom: 1px solid darken($lightGray,6%);
			&:hover{
				background:lighten($lightGray,2.5%);
				color:$blue;
			}
			&.active{
				background:lighten($white,10%);
				color:$white;
				&:hover{
					background:lighten($white,15%);
					color:$white;
				}
			}
		}
		&:hover,
		&.sfHover{
			> a{
				background:lighten($lightGray,2.5%);
				color:$blue;
			}
		}
	}
	&.sf-depth-2 a{
		background:lighten($lightGray,2.5%);
		color:$black;
		border-bottom: 1px solid darken($lightGray,10%);
		&:hover{
			background:$white;
		}
	}
}

#zone-content{
	background:$white;
}
#section-footer{
	color:$text;
}
#block-boxes-copyright{
	border-top: 1px solid white;
}

#block-boxes-sidebar-menu-desc{
	background: transparent !important;
	border-bottom: 1px solid white;
}

#block-menu-menu-first-sidebar{
	ul li.leaf {
		a{
			border-bottom:1px solid darken($sky,10%);
			&:hover{
				background:darken($sky,5%) image-url('sidebar-menu-2.png',false,false) repeat-y right;
			}
		}
	}
}


/**
 * Tables.
 */
table {
	border: 1px solid darken($lightGray,10%);
	td,th{
		color: $text;
	}
}

.node-page table{
	border: 1px solid $text;
}

tr.even,
tr.odd {
  border-color: darken($lightGray,10%);
  background: darken($lightGray,10%);
}
tr.odd {
  background: $white;
}
th {
	background: darken($lightGray,15%);
	border-color: lighten($lightGray,2.5%);
	&.active {
		background: darken($lightGray,10%);
	}
}

/*
tr td:last-child {
  border-right: 1px solid darken($lightGray,10%); 
}*/





#block-oea-form-oea-scope-filter{
	background:lighten($lightGray,10%);
}

.field-name-field-cstats-indicators,
.field-name-field-pop-av-age,
.field-name-field-pop-sex,
.field-name-field-pop-age,
.field-name-field-pop-ethnic,
.field-name-field-pop-regions,
.field-name-field-popd-dis-type,
.field-name-field-popd-socioecon{
	td,th{
		&:first-child{
			background-color:darken($lightGray,4.5%);
		}
	}
	tr.even{
		td,th{
			&:first-child{
				background-color:darken($lightGray,5%);
			}
		}
	}
}

.field-name-field-pop-pea,
.field-name-field-pop-total,
.field-name-field-pop-growth,
.field-name-field-popd-prevalence,
.field-name-field-popd-home-dis,
.field-name-field-popd-home-dis-func{
	&>.field-items>.field-item{
		background: darken($lightGray,5%);
	}
	td,th{
		border-right: 1px solid darken($lightGray,5%);
	}
}
.field-collection-view-final {
	border-bottom: 1px solid darken($lightGray,10%);
}
.block-boxes-indicators-box{
	a{
		background:darken($lightGray,5%);
		color: $link;
		&:hover{
			background:$lightGray;
		}
		&.active{
			background:lighten($lightGray,15%);
			//background:lighten($blue,20%);
			//color: $white;
		}
	}
}


.webform-container-inline{
	border-bottom: 1px solid darken($lightGray,5%);
}

fieldset{
	border: 1px solid darken($lightGray,5%);
}

.view-countries{
	.views-row{
		background: transparent;
		border: 1px solid;
	}
}

table td.mini a {
	background: $blue;
	color: $white;
}


.node-legal-framework{
	&>.field,
	&>.field-collection-container{
		background: transparent;
		border: 1px solid;
	}
}


.node-official-links{
	.field-collection-container .field-items .field-item{
		.field-collection-view{
			background: transparent;
			border: 1px solid;
		}
	}
}

#control-wrap {
	li{
		a{
			background: $blue;
			&:hover{
				background: lighten($blue,20%);				
			}
		}
	}
}


#region-sidebar-first .region-inner {
  background: transparent;
  padding-bottom: 0;
}



button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	border:1px solid white;
	background:darken($sky,30%);
	border-bottom: 3px solid white;
	color:$link !important;
	&:hover{
		background:darken($sky,20%);		
		color:white !important;
	}
}

#control-wrap {
	li{
		a{
			border:1px solid white;
			background:darken($sky,30%);
			color:$link !important;
			&:hover{
				background:darken($sky,20%);		
				color:white !important;				
			}
		}
	}
}


ul.primary li a {
  background-color: black;
}
ul.primary li a:hover {
  background-color: #222;
}
ul.primary li.active a {
  background-color: #444;
}


.year-view div.month-view div.date-nav{
	background-color:#333;
}
.calendar-calendar th.days{
	background-color:#222;	
	color:white;
}
.calendar-calendar tr{
	background:black;
}
.calendar-calendar td {
	color:white;
}
.calendar-calendar table.mini td.empty {
    background: transparent;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background:darken($sky,10%);
  border:1px solid white;
}
.calendar-calendar table td.mini a{
  background:black;
  border:1px solid yellow;	
}

.view .date-nav-wrapper .date-prev ,
.view .date-nav-wrapper .date-next {
	background:darken($sky,10%);	
  	border:1px solid white;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty {
  background: #222;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: #111;
  color: #ffffff;
  border:1px solid yellow;	
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: #111;
}

.calendar-calendar .week-view .full div.item-wrapper,
.calendar-calendar .day-view .full div.item-wrapper {
    background-color: #111;
}	

.calendar-calendar div.calendar {
    background-color: #111;
}