/* This file will hold styles that are loaded using the same media query as the wide grid. */
/*
.block-main-menu ul li{
	&.sf-depth-1{
		> a{
			padding: 10px 10px 0;
		}
	}
}*/

.block-main-menu ul li.sf-depth-1 > a {
  padding: 0.9em 0.9em;
  border-right: 1px solid #CACACA;
  border-bottom: 0;
}

.block-main-menu ul li{
	width: auto;
}