@import 'compass';
@import "_colors.scss";

.block-main-menu ul li{
	width: 50%;
}

#block-superfish-2{
	display:block;
}

.responsive-menus-0-0{
	display: none;
}

#region-branding {
	margin: 15px 0 0;
}
#region-menu{
	margin-left: 10px;
	margin-right: 10px;	
}
#region-sidebar-first{
	background:$sky image-url('sidebar-menu-2.png',false,false) repeat-y right;
	.region-inner{
		background:image-url('sidebar-menu-1.png',false,false) repeat-x bottom;
		padding-bottom:60px;
	}
}
.contrast-mode-on{
	#region-sidebar-first{
		background:none;
		.region-inner{
			background:none;
			padding-bottom:0;
		}
	}
}

.responsive-layout-narrow #region-sidebar-first{
	width: 135px;
}

#zone-content{
	margin-top:20px;
}

#block-boxes-sidebar-menu-desc{
	background: darken($sky,10%) url('../images/sidebar-menu-2.png') repeat-y right;
}

#block-boxes-copyright{
	.block-inner {
		padding: 0 15em;
	}
}

#block-boxes-utp-logo {
	width:auto;
	margin:0;
}


.view-action-scope,
.field-type-field-collection {
	overflow: hidden;
}